.box {
  position: absolute;
  width: 1506px;
  height: 855px;
  left: 207px;
  top: 112px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.container-flex {  /* used for the vertical list of persons */
  display: flex; /* or inline-flex */
  flex-direction: column;
  padding-inline-start: 0px;
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.item-flex {
  order: 0; /* default is 0 */
  width: 1429px;
  height: 93px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.container-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 40px 20px 1fr 90px 40px;
  grid-template-rows: 40px 60px 40px 1fr;
}

.subcontainer-grid {   /* use inside each person */
  display: grid;
  grid-template-columns: 10px auto 60px 7px;
  grid-template-rows: 1fr 24px 1fr;
}

.title {
  font-family: Roboto;
  font-size: 48px;
  line-height: 56px;
  grid-column-start: 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.column-name {
  font-family: Roboto;
  grid-row-start: 3;
  grid-column-start: 3;
}

.second {
  grid-column-start: 4;
  text-align: center;
}

ul{ list-style-type: none; }

.user-text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  grid-row-start: 2;
  grid-column-start: 2;
}

.deuxieme {
  grid-column-start: 3;
}

.color {
  background: #FF4545;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}